# Bike Stats

1. What is the average trip duration for a borrowed bicycle?
1. What’s the most common age of a bicycle-sharer?
1. Given all the weather data here, find the average precipitation per month, and the median precipitation.
1. What’s the average number of bikes at a given bike station?
1. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?
1. Come up with 3 more questions that can be answered with this data set.

In [11]:
import pandas as pd
import numpy as np

## load datasets

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

## Handle "bad trip"

b'Skipping line 50794: expected 12 fields, saw 20\n'

### 1. What is the average trip duration for a borrowed bicycle?

1178.2956753399776

### 2. What’s the most common age of a bicycle-sharer?

Most common year of birth 1987
Current year is 2020
Most common age is 33

### 3. Given all the weather data here, find the average precipitation per month, and the median precipitation.

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

### 4. What’s the average number of bikes at a given bike station?

17.74074074074074

### 5. When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

-64